---
import { Image } from 'astro:assets';
const { img, href, title, description } = Astro.props;
---

<div
  class="my-8 rounded shadow-lg shadow-gray-200 dark:shadow-gray-900 bg-white dark:bg-gray-800 duration-300 hover:-translate-y-1"
>
  <!-- Clickable Area -->
  <a href={href} target="_blank" class="cursor-pointer">
    <figure>
      <!-- Image -->
      <Image src={img} alt="poster" class="rounded-t w-full object-cover" />

      <figcaption class="p-4">
        <!-- Title -->
        <p
          class="text-lg mb-4 font-bold leading-relaxed text-gray-800 dark:text-gray-300"
        >
          {title}
        </p>

        <!-- Description -->
        <small class="leading-5 text-gray-500 dark:text-gray-400">
          {description}
        </small>
      </figcaption>
    </figure>
  </a>
</div>
