<script lang="ts">
  import { getUniqueStringBasedOnTimeStamp } from "../../utils/time"
  export let idLabel: string = getUniqueStringBasedOnTimeStamp("btn-")
  export let trueStateIcon: string = "bx-bell"
  export let falseStateIcon: string = "bx-bell-off"
  export let state: boolean = false
  export let classAddendum: string = ""
  export let size: string = "bx-sm"
</script>

<!-- 
  @component
  Bouton à deux états. Chaque état a sa propre icône.

  ### Paramètres

  * `idLabel` : ID du bouton 
  * `state`: Booléen pour gérer les deux états
  * `trueStateIcon`: Chaîne décrivant l'icône  (voir [boxicons]{https://boxicons.com/}) lorsque `state` vaut `true`
  * `falseStateIcon`: Chaîne décrivant l'icône (voir [boxicons]{https://boxicons.com/}) lorsque `state` vaut `false`
  * `isMenuOpen`: booléen servant à désactiver le bouton
  * `size`: Chaîne décrivant taille de l'icône  (voir [boxicons-size]{https://boxicons.com/usage#sizing} pour le format)
  * `classAddendum`: éléments de style du bouton à ajouter

  ### Remarque

  Mettre dans la méthode `on:click` les éléments d'action lorsque le bouton est cliqué.
  
  ### Usage
  
    ```tsx
<TwoStatesButton
      trueStateIcon="bx-sun"
      falseStateIcon="bx-moon"
      bind:state={$darkMode.isActive}
      size="bx-sm"
      classAddendum="text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest"
      on:click={() => {
        $darkMode.isActive = !$darkMode.isActive
      }}
    />
  ```
 -->
<button type="button" id={idLabel} on:click> <i class="bx {state ? `${trueStateIcon}` : `${falseStateIcon}`} {classAddendum} {size}" /></button>
