---
import cdv1re from '../../data/cdv1re.json'
import ArticleLayout from '../../layouts/ArticleLayout.astro'
import Seance from '../../components/cdv/Seance.astro'
import DsButton from '../../components/cdv/DsButton.astro'

import { type Cahier, type SeancesEntity } from '../../ts/types/cdv'

const cahier = cdv1re as Cahier

function getLink(seance: SeancesEntity) {
  let url = 'https://coopmaths.fr/alea/?'
  seance.exercices.forEach((exercice, index) => {
    if (index !== 0) {
      url += '&'
    }
    url += exercice
  })
  url += `&v=eleve&title=Séance+${seance.numero}&es=1111001`
  return url
}
---

<ArticleLayout title='Cahier de vacances - Première'>
  <div class="flex text-4xl text-coopmaths-struct py-7 font-black">Cahier de vacances - Première</div>

  <!-- Séances -->
  <div class="py-4 grid grid-flow-row-dense grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      cahier.seances.map((seance) => (
        <Seance seance={seance} exerciceslink={getLink(seance)} niveau="1re"/>
      ))
    }

  <!-- DS -->
  <div class='flex flex-col justify-between border border-coopmaths-struct rounded-xl'>
    <div
      class='w-full text-4xl font-light bg-coopmaths-struct text-coopmaths-canvas rounded-t-xl text-center p-2'
    >
      Devoir surveillé numéro 1
    </div>
    
    <div class='w-full px-6 mx-auto text-lg py-4 grid grid-cols-1 gap-4'>
    <DsButton name={'Sujet'} , link="/www/pdf/cdv1re/ds1.pdf" />
    <DsButton name={'Correction'} , link="/www/pdf/cdv1re/ds1_corr.pdf" />
    </div>
  </div>
  
  <div class='flex flex-col justify-between border border-coopmaths-struct rounded-xl'>
    <div
      class='w-full text-4xl font-light bg-coopmaths-struct text-coopmaths-canvas rounded-t-xl text-center p-2'
    >
      Devoir surveillé numéro 2
    </div>
    
    <div class='w-full px-6 mx-auto text-lg py-4 grid grid-cols-1 gap-4'>
    <DsButton name={'Sujet'} , link="/www/pdf/cdv1re/ds2.pdf" />
    <DsButton name={'Correction'} , link={"/www/pdf/cdv1re/ds2_corr.pdf"} />
    </div>
  </div>
</ArticleLayout>
