.article {
  @apply p-4
}

.article h1 {
  @apply !font-bold text-coopmaths-struct !text-3xl !mb-3 !mt-6
}

.article h2 {
  @apply !font-bold text-coopmaths-struct-light !text-2xl !mb-1 !mt-3
}

.article ul {
  @apply ml-2 list-disc list-inside space-y-2 marker:text-coopmaths-corpus-lightest
}

.article .signature {
  @apply font-light italic text-sm py-2 pl-2 mt-2 text-coopmaths-corpus-light dark:text-coopmathsdark-corpus-light
}