---
title: 'Blog - Coopmaths'
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import ArticleLayout from '../layouts/ArticleLayout.astro';

const unsortedBlogEntries = await getCollection('blog');

// 5 billets les plus récents
const blogEntries = unsortedBlogEntries.sort((a, b) => {
  const dateA = Number(new Date(a.data.date));
  const dateB = Number(new Date(b.data.date));
  return dateB - dateA;
}).slice(0, 5);
const blogEntriesWithContent = await Promise.all(blogEntries.map(async (blogEntry) => {
  const { Content } = await blogEntry.render();
  return { ...blogEntry, Content };
}));
---

  <ArticleLayout title="Blog">
    {blogEntriesWithContent.map(blogPostEntry => (
        <hr/>
        <a href={`/www/blog/${blogPostEntry.slug}`}> <FormattedDate date={blogPostEntry.data.date} /> </a>
        <blogPostEntry.Content/>
    ))}
  <div>
  <h3>
    <a href="/www/blogArchive" class="flex justify-center items-center">Liste de tous les billets de blog</a>
  </h3>
  </div>
  </ArticleLayout>