---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.svelte';
import ArticleLayout from '../layouts/ArticleLayout.astro';

const unsortedBlogEntries = await getCollection('blog');
const blogEntries = unsortedBlogEntries.sort((a, b) => {
  const dateA = Number(new Date(a.data.date));
  const dateB = Number(new Date(b.data.date));
  return dateB - dateA;
});
---

<ArticleLayout>
  <ul>
    {blogEntries.map(blogPostEntry => (
      <li>
        <a href={`/www/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
        </li>
        ))}
    </ul>
</ArticleLayout>