---
import Card from "../components/basic/Card.astro";
import Header from "../components/header/Header.svelte";
import Layout from "../layouts/Layout.astro";
import exerciseur_durees1 from "../images/exerciseur_duree1.png"
import exerciseur_HMS from "../images/exerciseur_HMS.png"
import exerciseur_challenge from "../images/exerciseur_challenge.png"
import exerciseur_challenge_tables from "../images/exerciseur_challenge_tables.png"
import exerciseur_equations from "../images/exerciseur_equations.png"
---

<Layout title="Exerciseurs">
  <Header client:load client:only />

  <section class="mt-[200px] bg-gray-100 dark:bg-gray-900 py-10 px-12">
    <!-- Card Grid -->
    <div class=" grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <Card
          title="Calculer une durée"
          description="L'heure de début et l'heure de fin sont données, il faut calculer la durée en s'appuyant sur une étape ou deux étapes."
          img={exerciseur_durees1}
          href="https://coopmaths.fr/exerciseur/?duree"
        />
        <Card
          title="Calculer l'horaire du début"
          description="L'heure de fin et la durée sont données, il faut calculer l'heure de début en s'appuyant sur une étape ou deux étapes."
          img={exerciseur_durees1}
          href="https://coopmaths.fr/exerciseur/?horaireDebut"
        />
        <Card
          title="Convertir des secondes au format HMS"
          description="L'heure de début et la durée sont données, il faut calculer l'heure de fin en s'appuyant sur une étape ou deux étapes."
          img={exerciseur_HMS}
          href="https://coopmaths.fr/exerciseur/?dureeConversion"
        />
        <Card
          title="Challenge relatifs"
          description="Calcul mental avec addition, soustraction, multiplication ou divisions de relatifs"
          img={exerciseur_challenge}
          href="https://coopmaths.fr/challenge"
        />
        <Card
          title="Challenge tables de multiplication"
          description="Calcul mental avec tables de multiplication au choix"
          img={exerciseur_challenge_tables}
          href="https://coopmaths.fr/challenge/?type=tables"
        />
        <Card
          title="Parcours tables de multiplication"
          description="Parcours progressif pour revoir les tables de multiplication avec questions qui s'adaptent aux erreurs"
          img={exerciseur_challenge_tables}
          href="https://coopmaths.fr/apps/parcours/"
        />
        <Card
          title="Équations"
          description="Déterminer l'opération à effectuer sur les deux membres d'une équation pour la résoudre. Les calculs sont automatiquement réalisés"
          img={exerciseur_equations}
          href="https://coopmaths.fr/apps/equations"
        />
    </div>
  </section>
</Layout>
