---
import Layout from '../layouts/Layout.astro'
import Home from "../components/home/Home.svelte"
import "../styles/app.css"
import "../styles/general.css"
---


<Layout title="Coopmaths - Accueil">
	<Home client:load client:only/>
</Layout>

<style>

	
	
</style>
