<script lang="ts">
  import TopicRight from '../display/TopicRight.svelte'
  import TopicLeft from '../display/TopicLeft.svelte'
  import Header from '../header/Header.svelte'
  import { darkMode } from '../../store'
  let y: number = 0
</script>

<svelte:window bind:scrollY={y} />
<div
  class="scrollbar-hide {$darkMode.isActive
    ? 'dark'
    : ''} bg-coopmaths-canvas dark:bg-coopmathsdark-canvas"
>
  <Header home={true} />
  <div
    class="h-[96vh] flex flex-col justify-center items-center bg-coopmaths-canvas dark:bg-coopmathsdark-canvas"
  >
    <div class="w-full flex flex-row justify-center my-8 lg:my-20">
      <img
        alt={'Coopmaths logo'}
        src={'assets/svg/logo_coopmaths_v2.svg'}
        class="w-10/12"
      />
    </div>
    <div
      class="w-2/3 text-xl lg:text-3xl text-center font-light text-coopmaths-corpus-light dark:text-coopmathsdark-corpus-light"
    >
      La coopération entre élèves et entre enseignants pour renforcer
      l'enseignement des mathématiques
    </div>
  </div>
  <div
    class="flex flex-col space-y-10 pt-10 bg-coopmaths-canvas dark:bg-coopmathsdark-canvas xl:grid xl:grid-cols-3 xl:gap-x-10"
  >
    <TopicRight pathToSVG="assets/svg/coopmaths_coop.svg" infoLink="/www/about">
      <span slot="header">Coopération</span>
      <span slot="content">
        Coopmaths est une association à but non lucratif d'enseignants de
        mathématiques qui coopèrent pour créer des activités pédagogiques sous
        licences libres.
      </span>
    </TopicRight>

    <TopicLeft
      pathToSVG="assets/svg/coopmaths_export.svg"
      infoLink="https://coopmaths.fr/alea/"
      invite="Commencer !"
    >
      <span slot="header">Plein de possibilités</span>
      <span slot="content">
        Vidéoprojeter des exercices, créer un diaporama minuté, imprimer des
        fiches d'exercices (PDF ou LaTeX), partager un lien de révisions, créer
        une séance Capytale ou Moodle pour récupérer les scores des élèves,
        créer des fiches d'exercices sur un même thème mais avec des données
        différentes, utiliser Anki, créer des QCM avec AMC...
      </span>
    </TopicLeft>
    <TopicRight
      pathToSVG="assets/svg/mathalea.svg"
      infoLink="https://coopmaths.fr/alea/"
      invite="Commencer !"
    >
      <span slot="header">Aléatoire</span>
      <span slot="content">
        <em>Course aux nombres</em> pour travailler les automatismes, entrée par
        niveau puis par chapitre, annales d'examens, géométrie dynamique...<br
        />
        Plus de 3 000 exercices vous attendent.
      </span></TopicRight
    >
  </div>
  <div
    class="fixed {y > 10
      ? 'hidden'
      : ''} bottom-[10%] left-1/2 -translate-x-1/2"
  >
    <i
      class="bx bx-chevrons-down text-6xl text-coopmaths-struct-light animate-pulse"
    ></i>
  </div>
</div>
