<script lang="ts">
  import { onMount } from 'svelte'
  import NavBarHome from './NavBarHomeOLD.svelte'

  export let home: boolean = false
  let isNavMenuVisible: boolean = !home
  let y: number
  let heightToShowLogo = 370
  if (window.innerWidth < 1024) {
    heightToShowLogo = 180
  }
</script>

<!-- 
  @component
  Conteneur pour l'en-tête de page. Contient sur une ligne :

  * le logo
  * la liste des menus géré par le composant `NavBarHome`
  * le bouton du Darkmode

  Si `home` est `true`, alors le logo Coopmaths n'apparaitra qu'après scroll de 370px.
  
  ### Usage

    ```tsx
  <Header />

  <Header home={true} />
  ```
 -->
<svelte:window bind:scrollY={y} />
<header
  class="fixed w-full flex items-center px-4 md:px-12 {y < 370 && home
    ? 'lg:h-32'
    : 'lg:h-24'} transition-all duration-300 bg-coopmaths-canvas dark:bg-coopmathsdark-canvas"
>
  <div
    class="flex w-full flex-row justify-between items-center md:flex-col md:justify-start md:items-start xl:flex-row xl:justify-between"
  >
    <!-- logo -->
    <div
      class="block p-2 text-5xl md:text-6xl xl:text-7xl font-logo9 tracking-tighter font-black text-coopmaths-struct dark:text-coopmathsdark-struct {y >
        heightToShowLogo || isNavMenuVisible
        ? 'opacity-100'
        : 'opacity-0'} transition-all duration-300"
    >
      <!-- Coopmaths Logo -->
      <a href="/www/">
        <img alt={'Coopmaths logo'} src={'/www/assets/svg/logo_coopmaths_v2.svg'} class="w-11/12" />
      </a>
    </div>
    <!-- navbar -->
    <nav>
      <NavBarHome />
    </nav>
  </div>
</header>
