<script lang="ts">
  import { onMount } from "svelte"

  export let entrees: string[]
  export let isMenuOpen: boolean
  export let titre: string
  export let id: string
  export let classAddendaForTitle: string = "text-xl font-semibold relative flex lg:block py-6 px-2 lg:px-8 items-center"
  export let menus
  export let actionIfEmpty: string = "#"

  // gestion des clics à l'extérieur : on ferme le menu courant ouvert
  let buttonElt: HTMLButtonElement | null
  onMount(async () => {
    buttonElt = document.getElementById(`button-${id}`)
  })
  window.addEventListener("click", function (event) {
    if (event.target !== buttonElt) {
      isMenuOpen = false
    }
  })

  /**
   * Gestion du clic sur le tire du menu : on ferme tous les autres menus
   * et on change le status de celui sur lquel on clique
   */
  function handleClickOnMenuTitle() {
    if (entrees.length === 0) {
      document.location.href = actionIfEmpty
    }
    for (const [key, value] of Object.entries(menus)) {
      if (menus[key].titre === titre) {
        menus[key].isMenuOpen = !menus[key].isMenuOpen
      } else {
        menus[key].isMenuOpen = false
      }
    }
  }
</script>

<!-- 
  @component
  Menu déroulant

  ### Paramètres

  * `titre` : titre du menu 
  * `entrees`: tableau des entrees du menu (objet a deux propriétés " `titre` et `action` (lien)")
  * `isMenuOpen`: booléen servant à désactiver le bouton
  * `menus`: objet contenant tous les menus (sert à gérer la fermeture des autres menu)
  * `id`: ID utilisée pour taguer les différentes IDs des éléments du menu (bouton, menu lui-ême et entrées)
  * `classAddendaForTitle`: éléments de style du bouton à ajouter
  
  ### Usage

    ```tsx
  <NavBarMenu
        entrees={menus.statiques.entrees}
        id={menus.statiques.id}
        titre={menus.statiques.titre}
        isMenuOpen={menus.statiques.isMenuOpen}
        bind:menus
        actionIfEmpty={menus.statiques.actionIfEmpty}
        classAddendaForTitle="text-xl xl:text-2xl"
      />
  ```
 -->
<!-- Source pour les menus déroulants au survol :
https://codesandbox.io/s/tailwind-dropdown-with-group-hover-gm9k9?file=/tailwind.config.js:45-74
pour préparer la place pour le semibold class="before:content-[attr(title)] before:block before:font-bold before:invisible before:h-0 before:overflow-hidden"
 -->
<div class="w-full group inline-block relative">
  <button
    id="button-{id}"
    title={titre}
    class=" {isMenuOpen
      ? 'font-semibold'
      : 'font-light'} md:-translate-y-[1.1rem] md:before:content-[attr(title)] md:before:block md:before:font-bold md:before:invisible md:before:h-0 md:before:overflow-hidden bg-coopmaths-canvas dark:bg-coopmathsdark-canvas text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest {classAddendaForTitle}"
    on:click={handleClickOnMenuTitle}
  >
    {titre}
  </button>
  <ul id="menu-{id}" class="relative md:absolute md:bottom-0 md:translate-y-[100%] {isMenuOpen ? '' : 'hidden'} md:z-10 md:pt-4 min-w-[15rem]">
    {#each entrees as entree, i}
      <li>
        <a
          class="w-full bg-coopmaths-canvas dark:bg-coopmathsdark-canvas hover:bg-coopmaths-canvas-dark dark:hover:bg-coopmathsdark-canvas-dark text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest py-1 px-4 block whitespace-no-wrap font-light text-sm cursor-pointer md:shadow-lg dark:shadow-coopmathsdark-canvas-dark"
          id={[id, "-entree-", i + 1].join("")}
          href={entree.action}
          target={entree.blank ? "_blank" : "_self"}
        >
          {entree.titre}
        </a>
      </li>
    {/each}
  </ul>
</div>
