<script lang="ts">
  import NavBarMenu from './NavBarMenuOLD.svelte'
  import TwoStatesButton from '../basic/TwoStatesButton.svelte'
  import { onMount } from 'svelte'

  let isNavMenuVisible: boolean = false
  let y: number
  let menus = {
    mathalea: {
      titre: 'MathALÉA',
      id: 'mathalea',
      entrees: [],
      isMenuOpen: false,
      actionIfEmpty: 'https://coopmaths.fr/alea'
    },
    actu: {
      titre: 'Actualités',
      id: 'actu',
      entrees: [],
      isMenuOpen: false,
      actionIfEmpty: '/www/actu'
    },
    blog: {
      titre: 'Blog',
      id: 'blog',
      entrees: [],
      isMenuOpen: false,
      actionIfEmpty: '/www/blog'
    },
    statiques: {
      titre: 'Ressources',
      id: 'statiques',
      entrees: [
        { titre: 'Sixième', action: '/www/6e' },
        { titre: 'Cahiers de vacances', action: '/www/cahiers-de-vacances' },
        { titre: 'Exerciseurs', action: '/www/exerciseurs/' },
        { titre: 'ApiGeom', action: 'https://coopmaths.fr/apigeom', blank: true }
      ],
      isMenuOpen: false
    },
    documentations: {
      titre: 'Documentations',
      id: 'documentations',
      entrees: [
        { titre: 'Utiliser MathALÉA', action: 'https://coopmaths.fr/mathalea_tuto/' },
        {
          titre: 'Programmer des figures géométriques',
          action: 'https://coopmaths.fr/docMathalea2d/presentation/'
        },
        {
          titre: 'Animations avec des instruments de géométrie',
          action: 'https://coopmaths.fr/docMathalea2d/InstrumEnPoche/'
        },
        {
          titre: 'Documentation pour les développeurs',
          action: 'https://coopmaths.fr/documentation'
        }
      ],
      isMenuOpen: false
    },
    outils: {
      titre: 'Outils',
      id: 'outils',
      entrees: [
        {
          titre: 'Programmation de figures géométriques',
          action: 'https://coopmaths.fr/mathalea2d.html'
        },
        {
          titre: 'Animations avec des instruments de géométrie',
          action: 'https://coopmaths.fr/mathalea2iep.html'
        },
        { titre: 'Divers', action: 'https://coopmaths.fr/mathalea.html?filtre=outils' }
      ],
      isMenuOpen: false
    },
    aPropos: {
      titre: 'À Propos',
      id: 'apropos',
      entrees: [
        { titre: 'À propos', action: '/www/about' },
        { titre: 'Partenariats', action: '/www/partenariats' },
        { titre: 'Contribuer ou aider', action: '/www/contribuer' },
        { titre: 'Kit de presse', action: '/www/kit-de-presse' },
        { titre: 'Vidéos - PodEduc', action: 'https://podeduc.apps.education.fr/coopmaths/' },
        { titre: 'Mentions légales', action: '/www/mentions_legales' },
        { titre: 'Nous contacter', action: 'mailto:contact@coopmaths.fr' }
      ],
      isMenuOpen: false
    }
  }

  const getRecordedTheme = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme') as string
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  }

  let isDarkModeActive: boolean = false

  onMount(() => {
    if (getRecordedTheme() === 'light') {
      document.documentElement.classList.remove('dark')
    } else {
      document.documentElement.classList.add('dark')
    }

    window.localStorage.setItem('theme', getRecordedTheme())
    isDarkModeActive = getRecordedTheme() === 'dark'
  })

  const handleToggleDarkMode = () => {
    const element = document.documentElement
    element.classList.toggle('dark')
    isDarkModeActive = !isDarkModeActive

    const isDark = element.classList.contains('dark')
    localStorage.setItem('theme', isDark ? 'dark' : 'light')
  }

  function goToMathalea() {
    // MathaleaHandleComponentChange("home", "")
    return null
  }
</script>

<!-- 
  @component
  Conteneur de menus

  ### Remarque

  C'est ici que doit être déclaré l'objet `menus` contenant tous les menus avec toutes leurs entrées
  
  ### Usage

    ```tsx
  <NavBarHome />
  ```
 -->
<svelte:window bind:scrollY={y} />
<div class="flex flex-row md:flex-row-reverse justify-end md:items-center xl:mt-2 space-x-2">
  <button
    class="md:hidden text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest font-bold"
    on:click={() => {
      isNavMenuVisible = !isNavMenuVisible
    }}
  >
    <i class="bx bx-md bx-menu" />
  </button>
  <ul
    class="fixed left-0 right-0 min-h-screen p-6 space-y-4
        bg-coopmaths-canvas dark:bg-coopmathsdark-canvas border-coopmaths-struct dark:border-coopmathsdark-struct
        transform {isNavMenuVisible
      ? 'translate-x-0'
      : 'translate-x-full'} translate-y-16 transition duration-300
        md:relative md:flex md:min-h-0 md:space-y-0 md:space-x-8 md:p-0 md:translate-x-0 md:pr-8 md:pt-4 xl:pt-0 md:translate-y-0"
  >
    <!-- <li>
      <NavBarMenu entrees={menus.outils.entrees} id={menus.outils.id} titre={menus.outils.titre} isMenuOpen={menus.outils.isMenuOpen} bind:menus classAddendaForTitle="text-xl xl:text-2xl" />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.documentations.entrees}
        id={menus.documentations.id}
        titre={menus.documentations.titre}
        isMenuOpen={menus.documentations.isMenuOpen}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li> -->
    <li>
      <NavBarMenu
        entrees={menus.mathalea.entrees}
        id={menus.mathalea.id}
        titre={menus.mathalea.titre}
        isMenuOpen={menus.mathalea.isMenuOpen}
        actionIfEmpty={menus.mathalea.actionIfEmpty}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.blog.entrees}
        id={menus.blog.id}
        titre={menus.blog.titre}
        isMenuOpen={menus.blog.isMenuOpen}
        actionIfEmpty={menus.blog.actionIfEmpty}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.actu.entrees}
        id={menus.actu.id}
        titre={menus.actu.titre}
        isMenuOpen={menus.actu.isMenuOpen}
        actionIfEmpty={menus.actu.actionIfEmpty}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.statiques.entrees}
        id={menus.statiques.id}
        titre={menus.statiques.titre}
        isMenuOpen={menus.statiques.isMenuOpen}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.aPropos.entrees}
        id={menus.aPropos.id}
        titre={menus.aPropos.titre}
        isMenuOpen={menus.aPropos.isMenuOpen}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <!-- Darkmode button -->
    <li>
      <div class="w-full group inline-block relative">
        <button
          id="button-darkMode"
          title="DarkMode"
          class="md:-translate-y-[1.1rem] md:before:content-[attr(title)] md:before:block md:before:font-bold md:before:invisible md:before:h-0 md:before:overflow-hidden bg-coopmaths-canvas dark:bg-coopmathsdark-canvas text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest"
        >
          <TwoStatesButton
            trueStateIcon="bx-sun"
            falseStateIcon="bx-moon"
            bind:state={isDarkModeActive}
            size="bx-sm"
            classAddendum="text-coopmaths-action
        hover:text-coopmaths-action-lightest
        dark:text-coopmathsdark-action
        dark:hover:text-coopmathsdark-action-lightest
        "
            on:click={() => {
              handleToggleDarkMode()
            }}
          />
        </button>
      </div>
    </li>
  </ul>
</div>
