<script lang="ts">
  import NavBarMenu from './NavBarMenuOLD.svelte'
  import TwoStatesButton from '../basic/TwoStatesButton.svelte'
  import { onMount } from 'svelte'
  import type { MenuRoot } from '../../ts/types/menu'
  import { startingMenus } from '../../ts/navigation'

  let isNavMenuVisible: boolean = false
  let y: number
  export let menus: Record<string, MenuRoot> = startingMenus //JSON.parse(JSON.stringify(startingMenus)) 

  const getRecordedTheme = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme') as string
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  }

  let isDarkModeActive: boolean = false

  onMount(() => {
    if (getRecordedTheme() === 'light') {
      document.documentElement.classList.remove('dark')
    } else {
      document.documentElement.classList.add('dark')
    }

    window.localStorage.setItem('theme', getRecordedTheme())
    isDarkModeActive = getRecordedTheme() === 'dark'
  })

  const handleToggleDarkMode = () => {
    const element = document.documentElement
    element.classList.toggle('dark')
    isDarkModeActive = !isDarkModeActive

    const isDark = element.classList.contains('dark')
    localStorage.setItem('theme', isDark ? 'dark' : 'light')
  }

  function goToMathalea() {
    // MathaleaHandleComponentChange("home", "")
    return null
  }
</script>

<!-- 
  @component
  Conteneur de menus

  ### Remarque

  C'est ici que doit être déclaré l'objet `menus` contenant tous les menus avec toutes leurs entrées
  
  ### Usage

    ```tsx
  <NavBarHome />
  ```
 -->
<svelte:window bind:scrollY={y} />
<div class="flex flex-row md:flex-row-reverse justify-end md:items-center xl:mt-2 space-x-2">
  <button
    class="md:hidden text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest font-bold"
    on:click={() => {
      isNavMenuVisible = !isNavMenuVisible
    }}
  >
    <i class="bx bx-md bx-menu" />
  </button>
  <ul
    class="fixed left-0 right-0 min-h-screen p-6 space-y-4
        bg-coopmaths-canvas dark:bg-coopmathsdark-canvas border-coopmaths-struct dark:border-coopmathsdark-struct
        transform {isNavMenuVisible
      ? 'translate-x-0'
      : 'translate-x-full'} translate-y-16 transition duration-300
        md:relative md:flex md:min-h-0 md:space-y-0 md:space-x-8 md:p-0 md:translate-x-0 md:pr-8 md:pt-4 xl:pt-0 md:translate-y-0"
  >
    <!-- <li>
      <NavBarMenu entrees={menus.outils.entrees} id={menus.outils.id} titre={menus.outils.titre} isMenuOpen={menus.outils.isMenuOpen} bind:menus classAddendaForTitle="text-xl xl:text-2xl" />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.documentations.entrees}
        id={menus.documentations.id}
        titre={menus.documentations.titre}
        isMenuOpen={menus.documentations.isMenuOpen}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li> -->
    <li>
      <NavBarMenu
        entrees={menus.mathalea.entrees}
        id={menus.mathalea.id}
        titre={menus.mathalea.titre}
        isMenuOpen={menus.mathalea.isMenuOpen}
        actionIfEmpty={menus.mathalea.actionIfEmpty}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.blog.entrees}
        id={menus.blog.id}
        titre={menus.blog.titre}
        isMenuOpen={menus.blog.isMenuOpen}
        actionIfEmpty={menus.blog.actionIfEmpty}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.statiques.entrees}
        id={menus.statiques.id}
        titre={menus.statiques.titre}
        isMenuOpen={menus.statiques.isMenuOpen}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <li>
      <NavBarMenu
        entrees={menus.aPropos.entrees}
        id={menus.aPropos.id}
        titre={menus.aPropos.titre}
        isMenuOpen={menus.aPropos.isMenuOpen}
        bind:menus
        classAddendaForTitle="text-xl xl:text-2xl"
      />
    </li>
    <!-- Darkmode button -->
    <li>
      <div class="w-full group inline-block relative">
        <button
          id="button-darkMode"
          title="DarkMode"
          class="md:-translate-y-[1.1rem] md:before:content-[attr(title)] md:before:block md:before:font-bold md:before:invisible md:before:h-0 md:before:overflow-hidden bg-coopmaths-canvas dark:bg-coopmathsdark-canvas text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest"
        >
          <TwoStatesButton
            trueStateIcon="bx-sun"
            falseStateIcon="bx-moon"
            bind:state={isDarkModeActive}
            size="bx-sm"
            classAddendum="text-coopmaths-action
        hover:text-coopmaths-action-lightest
        dark:text-coopmathsdark-action
        dark:hover:text-coopmathsdark-action-lightest
        "
            on:click={() => {
              handleToggleDarkMode()
            }}
          />
        </button>
      </div>
    </li>
  </ul>
</div>
