<script>
  let count = 0

  function handleClick() {
    count += 1
  }
</script>

<button
  type="button"
  class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-coopmaths-action border border-transparent font-semibold text-coopmaths-canvas hover:text-coopmaths-canvas hover:bg-coopmaths-action-light focus:outline-none focus:ring-1 ring-offset-white focus:ring-coopmaths-action focus:text-coopmaths-canvas focus:ring-offset-2 transition-all text-sm"
  on:click={handleClick}
>
  Clicks: {count}
</button>
