---
const { id } = Astro.props;
---



<a href={`https://instrumenpoche.sesamath.net/iep/figures_html/scr_iep_${id}.html`} target="_blank" class="not-prose text-coopmaths-corpus dark:text-coopmathsdark-corpus flex items-center space-x-4 hover:translate-x-2">
    <i class='bx bx-sm bxs-caret-right-circle'></i>
    <div>
        <slot></slot>
    </div>
</a>
