---
const { src } = Astro.props;
---

<a href={src} target="_blank" class="not-prose text-coopmaths-corpus dark:text-coopmathsdark-corpus flex items-center space-x-4 hover:translate-x-2">
    <i class='bx bx-sm bx-link-external'></i>
    <div>
        <slot></slot>
    </div>
</a>