---
const { id } = Astro.props;
---

<a href={`https://www.youtube-nocookie.com/embed/${id}`} target="_blank" class="not-prose text-coopmaths-corpus dark:text-coopmathsdark-corpus flex items-center space-x-4 hover:translate-x-2">
    <i class='bx bx-sm bxl-youtube'></i>
    <div>
        <slot></slot>
    </div>
</a>