---
import { Image } from 'astro:assets';
import logo2 from '../../images/logo2.png';
---

<footer class="w-full bg-coopmaths-canvas dark:bg-coopmathsdark-canvas h-12 flex flex-row-reverse justify-center items-center opacity-100 p-4">
  <Image class="hidden md:block px-6" height={28} src={logo2} alt="Logo Coopmaths 2" />
  <a
    class="flex flex-row items-center justify-start pr-6 font-thin text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest"
    href="https://coopmaths.fr/twitter"
    target="_blank"
  >
    <i class="bx bx-sm bxl-twitter" />
  </a>
  <a
    class="flex flex-row items-center justify-start pr-6 font-thin text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest"
    href="https://mathstodon.xyz/@coopmaths"
    target="_blank"
  >
    <i class="bx bx-sm bxl-mastodon" />
  </a>
  <a
    class="flex flex-row items-center justify-start pr-6 font-thin text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest"
    href="mailto:contact@coopmaths.fr"
  >
    <i class="bx bx-sm bx-envelope" />
  </a>
</footer>
