---
const { href, title } = Astro.props;
---

<a href={href} class="block max-w-sm p-6 bg-white border border-coopmaths-action rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-coopmaths-struct dark:text-white">{title}</h5>
</a>