<script lang="ts">
  export let pathToSVG: string = ""
  export let altText: string = "Illustration"
  export let infoLink: string = ""
  export let invite: string = "En savoir plus"
</script>

<div class="flex flex-col px-2 py-4 md:flex-row md:px-40 md:py-20 md:my-20 xl:flex-col-reverse  xl:w-full xl:px-8">
  <div class="w-full md:w-2/3 p-6 flex flex-col xl:w-full">
    <div class="text-4xl xl:text-6xl pt-4 font-extrabold text-coopmaths-struct dark:text-coopmathsdark-struct text-center md:text-left pb-8 md:pb-10 xl:pb-20 xl:w-full xl:text-center">
      <slot name="header">
        <span>Mon titre</span>
      </slot>
    </div>
    <div class="flex text-justify pb-4 md:pb-6 xl:pb-8 xl:w-full">
      <div class="text-xl xl:text-2xl font-light text-coopmaths-corpus-light dark:text-coopmathsdark-corpus-light xl:w-full">
        <slot name="content">
          <span
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut lacus ex. Sed commodo lacinia facilisis. Fusce sollicitudin justo ac libero sagittis convallis. Pellentesque metus magna,
            iaculis ut enim id.</span
          >
        </slot>
      </div>
    </div>
    <div class="flex flex-row justify-start xl:justify-end items-center w-full">
      <a
        class="flex flex-row items-center text-coopmaths-action hover:text-coopmaths-action-lightest dark:text-coopmathsdark-action dark:hover:text-coopmathsdark-action-lightest text-xl font-semibold"
        href={infoLink}
      >
        <span class="mr-1">{invite}</span>
        <i class="bx bx-chevron-right" />
      </a>
    </div>
  </div>
  <div class="w-full md:w-1/3 p-6 flex justify-center xl:w-full">
    <img alt={altText} src={pathToSVG} class="w-5/6 md:w-11/12" />
  </div>
</div>
