---

import ArticleLayout from '../../../../layouts/ArticleLayout.astro';

export function getStaticPaths() {
  const routes: Array<{ params: { enigme: string}}> = [] 
  for (let i = 1; i < 19; i++ ){
    routes.push({params: {enigme: String(i)}})
  }
  return routes
}

const { enigme } = Astro.params;

---

<ArticleLayout>
  <h1>Énigme n° {enigme}</h1>
  <div style="text-align: center;margin-bottom: 4em" >
	<img src={`/www/png/cdv1re/enigme${enigme}.png`} alt={`Énigme n° ${enigme}`} />
  </div>

  <button
  class='flex justify-center mx-auto items-center rounded-full h-10 w-48 bg-coopmaths-action text-coopmaths-canvas font-bold'
  type='button'
  onclick=`location.href="/www/pdf/cdv1re/enigme${enigme}_corr.pdf"`
>
  Voir la correction
</button>
</ArticleLayout>