---
const { linkHtml, linkPdf, src, caption } = Astro.props;
import { Image } from 'astro:assets';
---
<div class="relative group w-2/3 sm:w-1/4 shadow-2xl mx-auto">
  <figure>
    <Image src={src} alt="Votre Image" class="block w-full h-auto transition-opacity duration-300 ease-in group-hover:opacity-50"/>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col gap-2.5 hidden group-hover:flex">
      {linkHtml && <a href={linkHtml} class="bg-white text-coopmaths-action px-5 py-2.5 border-none cursor-pointer text-center no-underline inline-block text-lg font-bold transition-colors duration-300 ease-in hover:bg-gray-200">HTML</a>}
      <a href={linkPdf} class="bg-white text-coopmaths-action px-5 py-2.5 border-none cursor-pointer text-center no-underline inline-block text-lg font-bold transition-colors duration-300 ease-in hover:bg-gray-200">PDF</a>
    </div>
    <figcaption class="text-center">{caption}</figcaption>
  </figure>
</div>