---
import { type SeancesEntity } from '../../ts/types/cdv'
import TaskButton from './TaskButton.astro'
interface Props {
  seance: SeancesEntity
  exerciceslink: string
  niveau: '2nde' | '1re'
}
const { seance, exerciceslink, niveau } = Astro.props
---

<div class='flex flex-col justify-between border border-coopmaths-struct rounded-xl'>
  <div
    class='w-full text-4xl font-light bg-coopmaths-struct text-coopmaths-canvas rounded-t-xl text-center p-2'
  >
    Séance n°{seance.numero}
  </div>
  <ul
    class='flex flex-col justify-between list-disc list-inside px-3 pb-3 pt-1 marker:text-coopmaths-struct '
  >
    {
      seance.notions.map((notion) => (
        <li class='text-coopmaths-corpus dark:text-white text-left -mb-2'>{notion}</li>
      ))
    }
  </ul>
  <div class='w-full px-6 mx-auto text-lg py-4 grid grid-cols-2 gap-4'>
    <TaskButton name={'Prépa'} , link={seance.echauffement} />
    <TaskButton name={'Exercices'} , link={exerciceslink} />
    <TaskButton name={'Test'} , link={seance.test} />
    {niveau === '2nde' && <TaskButton name={'Énigme'} , link={"enigme/" + seance.numero} />}
    {niveau === '1re' && <TaskButton name={'Énigme'} , link={"enigme/" + seance.numero} />}
    
  </div>