---
const { title } = Astro.props.frontmatter || Astro.props;


import "../styles/app.css";
import "../styles/article.css";
import Header from "../components/header/Header.svelte";
import Layout from "./Layout.astro";

// Voir https://tailwindcss.com/docs/typography-plugin
// pour ajuster le style des articles de blogs avec Prose
---

<Layout title={title + ' - Coopmaths'}>
  <Header client:load client:only />
  <article
  class="pt-[160px]
  px-4
  lg:px-52
  prose
  prose-lg
  prose-stone
  dark:prose-invert
  dark:bg-coopmathsdark-canvas
  max-w-none
  prose-h1:font-bold
  prose-h1:text-coopmaths-struct
  prose-strong:text-coopmaths-struct
  prose-h1:text-3xl
  prose-h1:mb-3
  prose-h1:mt-6
  prose-h2:text-coopmaths-struct
  prose-h2:text-2xl
  prose-h2:mb-3
  prose-h2:mt-6
  prose-h3:text-coopmaths-struct
  prose-h3:text-xl
  prose-h3:mb-3
  prose-h3:mt-6
  prose-p:my-0
  text-justify
  prose-a:no-underline
  prose-a:text-coopmaths-action
  dark:prose-a:text-coopmathsdark-action
  hover:prose-a:text-coopmaths-action-dark
  "
  >
    <slot />
  </article>
</Layout>
