---
import { ViewTransitions } from 'astro:transitions';
import 'boxicons/css/boxicons.min.css'
import Footer from '../components/footer/Footer.astro'
import "../styles/app.css"
import "../styles/general.css"
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="favicon.ico" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="dark:bg-coopmathsdark-canvas flex flex-col min-h-screen justify-between">
		<slot />
		<Footer />
	<script is:inline src="/node_modules/preline/dist/preline.js"></script>
	</body>
	
</html>

